* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  text-align: center;
  background: #181719;
  font-family: 'Crimson Text', serif;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 12vh;
}

.nav-bar .logo {
  border: 1px solid #fff;
  font-size: 1vmax;
  font-style: normal;
  font-weight: 200;
  color: #fff;
  width: 10%;
  padding: 0.2% 0.2%;
  cursor: pointer;
}

.nav-bar .nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 30%;
}

.nav-bar .nav-links li {
  list-style: none;
}

.nav-bar .nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.5vmax;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-bar .burger {
  display: none;
  cursor: pointer;
}

.nav-bar .burger div {
  width: 25px;
  height: 2px;
  background-color: #fff;
  margin: 5px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav-active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
}

.toggle .line1 {
  -webkit-transform: rotate(-45deg) translate(-4px, 6px);
          transform: rotate(-45deg) translate(-4px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  -webkit-transform: rotate(45deg) translate(-4px, -6px);
          transform: rotate(45deg) translate(-4px, -6px);
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1.5fr;
      grid-template-columns: 1fr 1.5fr;
  grid-gap: 50px;
  min-height: 80vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 1% 15%;
}

.main .left {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 22%;
  text-align: initial;
}

.main .left h1 {
  font-size: 3vmax;
  font-weight: 200;
  color: #fff;
}

.main .left h6 {
  margin-top: 7%;
  width: 90%;
  font-family: Montserrat;
  font-style: normal;
  font-weight: lighter;
  font-size: 1.8vmax;
  line-height: 2.5vmax;
  color: #fff;
}

.main .left p {
  margin-top: 5%;
  color: #fff;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5vmax;
}

.main .right img {
  width: 100%;
}

.main .right .card-overlay {
  background: #181719;
  color: #fff;
  max-width: 480px;
  padding: 2% 2%;
  position: relative;
  left: 35%;
  bottom: 10%;
}

.main .right .card-overlay h3 {
  margin-top: 4%;
  font-size: 1.5vmax;
  font-weight: 200;
}

.main .right .card-overlay .card-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .right .card-overlay .card-head .card-head-text {
  margin-left: 6%;
}

.main .right .card-overlay .card-head img {
  margin-left: 4%;
  width: 50px;
  border-radius: 50%;
}

footer a {
  text-decoration: none;
}

footer a p {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden !important;
    width: 100%;
  }
  .nav-links {
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav-bar {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 4%;
  }
  .nav-bar .nav-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .nav-bar .nav-links a {
    font-size: 3.2vmax;
    line-height: 4rem;
  }
  .nav-bar .logo {
    white-space: nowrap;
    width: 18%;
    padding: 1% 0.5%;
  }
  .nav-bar .burger {
    display: block;
  }
  .nav-bar .nav-links {
    width: 0%;
    right: 50%;
  }
  .nav-bar .nav-links li {
    opacity: 0;
  }
  .main {
    display: block;
    margin: 0 3%;
  }
  .main .left {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-top: 8%;
  }
  .main .left p {
    margin: 5% 0 10% 0;
  }
  .main .right .card-overlay {
    max-width: 300px;
    left: 7%;
    bottom: 5vh;
  }
}
/*# sourceMappingURL=style.css.map */